[submodule "lab2"]
	path = lab2
	url = git@github.com:sergey-khl/lab2ducks.git
	branch = pinapple
[submodule "lab3"]
	path = lab3
	url = git@github.com:sergey-khl/lab3ducks.git
[submodule "lab4"]
	path = lab4
	url = git@github.com:sergey-khl/lab4ducks.git
[submodule "lab5/lab5ducks"]
	path = lab5/lab5ducks
	url = git@github.com:sergey-khl/lab5ducks.git
[submodule "lab5/lab5ml"]
	path = lab5/lab5ml
	url = git@github.com:sergey-khl/lab5ml.git
[submodule "final"]
	path = final
	url = git@github.com:sergey-khl/finalDucks.git
